@import '../../../../styles/helpers/config.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &.mobile {
        display: none;
    }

    @each $planet,
    $bg-color in $planets {
        &.#{$planet} {
            button {
                &.active {
                    background: $bg-color;
                    border: 1px solid $bg-color;
                }
            }
        }
    }

    button {
        width: 100%;
        height: 4.8rem;
        padding-right: 2.8rem;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;

        .number {
            color: transparentize($color: $primary-color, $amount: 0.5);
            width: 6rem;
            display: flex;
            justify-content: center;
        }

    }
}

@media all and (max-width:1200px) {
    .container {
        width: 40%;

        button {
            height: 4rem;
            padding-right: 2rem;

            h3 {
                font-size: 0.9rem;
                line-height: 2.5rem;
                letter-spacing: 1.92857px;

                &.number {
                    width: 5rem;
                }
            }
        }
    }
}

@media all and (max-width:750px) {
    .container {
        width: 45%;
    }
}

@media all and (max-width:650px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid $line-color;
        height: 5rem;
        padding: 0 2.4rem;
        gap: 0;

        &.desktop {
            display: none;
        }

        &.mobile {
            display: flex;
        }

        @each $planet,
        $bg-color in $planets {
            &.#{$planet} {
                button {
                    height: 100%;
                    border: none;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-right: 0;
                    width: 8rem;

                    h3 {
                        opacity: 0.5;
                    }

                    &.active {
                        background: transparent;
                        border: none;

                        h3 {
                            opacity: 1;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 4px;
                            background: $bg-color;
                        }
                    }
                }
            }
        }
    }
}