@import '../../../../styles/helpers/config.scss';

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12.6rem 0 8rem;

    .top {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 8.7rem;
    }
}