@import '../../../../styles/helpers/config.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% - 35rem);
    position: relative;

    picture {

        .planet {
            &.geology {
                width: 16.3rem;
                height: 19.9rem;
                position: absolute;
                left: calc(50% - 8.15rem);
                top: 35rem;
            }
        }
    }
}

@media all and (max-width:1200px) {
    .container {
        flex-basis: 46rem;

        picture {
            display: flex;
            justify-content: center;

            .planet {
                width: 60%;

                &.geology {
                    width: 10.3rem;
                    height: 12.3rem;
                    left: calc(50% - 5.15rem);
                    top: 27rem;
                }
            }
        }
    }
}

@media all and (max-width:750px) {
    .container {
        padding: 0 2.4rem;
    }
}

@media all and (max-width:650px) {
    .container {
        flex-basis: 30rem;

        picture {
            .planet {
                width: 50%;

                &.geology {
                    width: 5.5rem;
                    height: 6.7rem;
                    left: calc(50% - 2.75rem);
                    top: 18.5rem;
                }
            }
        }
    }
}

@media all and (max-width:400px) {
    .container {
        picture {
            .planet {
                width: 70%;

                &.geology {
                    width: 5.5rem;
                    height: 6.7rem;
                    left: calc(50% - 2.75rem);
                    top: 18.5rem;
                }
            }
        }
    }
}