@import '../../../../styles/helpers/config.scss';

.container {
    width: 100vw;
    min-height: 100vh;
    background: url('https://res.cloudinary.com/funmilolajire/image/upload/v1625999073/planets_facts/background-stars_fuwq75.svg'),
        $primary-bg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}