@import '../../../../styles/helpers/config.scss';

.container {
    padding: 0 4rem 0 3.2rem;
    height: 8.5rem;
    border-bottom: 1px solid $line-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-family: Antonio;
        font-size: 2.8rem;
        line-height: 3.6rem;
        letter-spacing: -1.05px;
        text-transform: uppercase;
        font-weight: 400;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 3.3rem;
        height: 100%;

        h4 {
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                height: 4px;
            }

            @each $planet,
            $bg-color in $planets {

                &.#{$planet}:hover,
                &.#{$planet}.active {
                    &::after {
                        background: $bg-color;
                    }
                }
            }
        }
    }
}